/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

/* Common */
:root {
    --color-primary: #9792e4;
    --color-secondary: #0084fd;
    --color-secondary-light: #b5ddff;
    --color-white: white;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-large {
    padding-left: 4rem;
    padding-right: 64px;
}

.section {
    padding: 5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: .625rem;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
}

.col-1 {
    flex-basis: calc(100% / 3 - 1.25rem);
}

.col-2 {
    flex-basis: calc((100% /3) * 2 - 1.25rem);
}
/* Header */
header {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}
nav {
    background-color: var(--color-secondary);
    padding: .3125rem 0;
}

.d-center {
    align-items: center;
}

.list {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.list li a {
    text-decoration: none;
    display: inline-block;
    color: var(--color-white);
}

.list li {
    list-style: none;
    padding-right: 1rem;
}

.btn {
    padding: .375rem .5rem;
    border-radius: .9375rem;
    border: none;
    cursor: pointer;
}

/* Section Card */
.padding-t {
    padding-top: 6.25rem;
}

.img-phone {
    position: relative;
    top: 15px;
    width: 200px;
}

.img-phone img {
    width: 100%;
}

.bg-secondary-light {
    background-color: var(--color-secondary-light);
}

.fa-apple {
    padding-right: .3125rem;
}

.d-around {
    justify-content: space-around;
}

.card {
    padding: .625rem;
}

.card h4 {
    padding-bottom: .9375rem;
    font-size: .875rem;
    color: var(--color-secondary);
}

.card p {
    padding-bottom: .9375rem;
    font-size: .75rem;
    line-height: 1.5;
    color: #445462;
}

.btn.btn-secondary {
    letter-spacing: .1125rem;
    padding: .375rem 1.375rem;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.icons {
    font-size: 3.75rem;
    padding: .9375rem;
    color: var(--color-secondary);
}

.border-r {
    border-radius: .9375rem;
}

/* Section strategic */
.bg-primary {
    background-color: var(--color-primary);
}

.box {
    width: 300px;
}

.box img {
    width: 100%;
    margin-bottom: 5rem;
    /* padding: 5rem 1.875rem; */
}

.box h3 {
    color: var(--color-white);
    font-size: 1.25rem;
}

.paragraph p {
    font-size: .75rem;
    line-height: 1.7;
    color: var(--color-white);
    padding: 1.875rem 0;
}

.box.form img {
    padding: .5rem 1.5625rem;
}

.form img {
    width: 100%;
}

.form {
    width: 250px;
    background-color: var(--color-white);
    border-radius: .75rem;
    padding: .75rem .9375rem;
    text-align: center;
}

.baseline {
    align-items: baseline;
}

.form p {
    font-size: .75rem;
    line-height: 1.5;
    font-style: italic;
    padding-bottom: 1.25rem;
}

.form h4 {
    padding: .5rem 0;
}

.btn.btn-primary {
    background-color: var(--color-primary);
    padding: .5rem .6875rem;
}

.col-d-flex {
    display: flex;
    justify-content: center;
}